{% extends "layout/base.html.twig" %}

{% block body %}
    <h3>Shopping List Items</h3>

    {% for item in items %}
        <p>
            {% if item.checked %}
                <strike>
                    <span>{{ item.name }} - Qty {{ item.quantity|number_format(2) }}</span>
                </strike>
            {% else %}
                <span>{{ item.name }} - Qty {{ item.quantity|number_format(2) }}</span>
            {% endif %}

            <span>
                <a href="/items/{{ item.id }}/edit" class="btn">Edit</a>
                <a href="/items/{{ item.id }}/delete" class="danger">Delete</a>
            </span>
        </p>
    {% endfor %}
{% endblock %}
